@{
    ViewBag.Title = "Yonet";
}

<div class="container mt-2 " style="background-color: rgb(174, 154, 147); font-weight:bold; font-size:small">
    <div class="row my-3 kutu">
        <div class="col-12 bg-dark kutuBaslik"> En Son Eklenen Konular</div>

        <div class="col-xl-2 kutuIcıSol"> 8 Aralik 2021</div>
        <div class="col-xl-8 kutuIcıOrta"> <a href="">Windows 10 sıfırlarsam lisansım gider mi?</a></div>
        <div class="col-xl-2 kutuIcıSagAdmin"><button type="button" class="btn btn-danger" style="width: 70px; font-size: large;">SİL</button></div>

        <div class="col-xl-2 kutuIcıSol"> 7 Aralik 2021</div>
        <div class="col-xl-8 kutuIcıOrta"><a href="">Lutfen acil yardım edin, ASUS laptop ısınma sorunu </a></div>
        <div class="col-xl-2 kutuIcıSagAdmin"><button type="button" class="btn btn-danger" style="width: 70px; font-size: large;">SİL</button></div>

        <div class="col-xl-2 kutuIcıSol"> 7 Aralik 2021</div>
        <div class="col-xl-8 kutuIcıOrta"><a href="">Uzak sunucu yönetim aracı kurulurken 0x8024001d hatası</a></div>
        <div class="col-xl-2 kutuIcıSagAdmin"><button type="button" class="btn btn-danger" style="width: 70px; font-size: large;">SİL</button></div>

        <div class="col-xl-2 kutuIcıSol"> 7 Aralik 2021</div>
        <div class="col-xl-8 kutuIcıOrta"><a href="">MSI Laptop M.2 SSD'yi UEFI Modda Görmüyor </a></div>
        <div class="col-xl-2 kutuIcıSagAdmin"><button type="button" class="btn btn-danger" style="width: 70px; font-size: large;">SİL</button></div>

        <div class="col-xl-2 kutuIcıSol"> 7 Aralik 2021</div>
        <div class="col-xl-8 kutuIcıOrta"><a href="">Discord kullanıcı ID'den sunucu nasıl bulunur?</a></div>
        <div class="col-xl-2 kutuIcıSagAdmin"><button type="button" class="btn btn-danger" style="width: 70px; font-size: large;">SİL</button></div>

        <div class="col-xl-2 kutuIcıSol">12 Kasım 2021</div>
        <div class="col-xl-8 kutuIcıOrta"><a href="">MALL OF İSTANBUL un taksi çilesi</a></div>
        <div class="col-xl-2 kutuIcıSagAdmin"><button type="button" class="btn btn-danger" style="width: 70px; font-size: large;">SİL</button></div>
    </div>

    <div class="row my-3 kutu">
        <div class="col-xl-12 bg-dark kutuBaslik"> En Son Katılan Kullanıcılar</div>

        <div class="col-xl-2 kutuKonuNameAdmin" style="margin: 1.6%;">
            <img src="/ödev2/kullanıcı-pp.jpg" class="rounded-circle" alt="anonim-pp" height="160" width="160" style="border-style: solid;">
            <p>Uhudhan Ates</p>
            <button type="button" class="btn btn-danger" style="font-size:large;">Uyar</button>
        </div>
        <div class="col-xl-2 kutuKonuNameAdmin" style="margin: 1.6%;">
            <img src="/ödev2/pp2.jpg" class="rounded-circle" alt="anonim-pp" height="160" width="160" style="border-style: solid;">
            <p>Tunç Kaya</p>
            <button type="button" class="btn btn-danger" style="font-size:large;">Uyar</button>
        </div>
        <div class="col-xl-2 kutuKonuNameAdmin" style="margin: 1.6%;">
            <img src="/ödev2/pp3.jpg" class="rounded-circle" alt="anonim-pp" height="160" width="160" style="border-style: solid;">
            <p>Burçin Özek</p>
            <button type="button" class="btn btn-danger" style="font-size:large;">Uyar</button>
        </div>
        <div class="col-xl-2 kutuKonuNameAdmin" style="margin: 1.6%;">
            <img src="/ödev2/kullanıcı-pp.jpg" class="rounded-circle" alt="anonim-pp" height="160" width="160" style="border-style: solid;">
            <p>Ümmühan Alçı</p>
            <button type="button" class="btn btn-danger" style="font-size:large;">Uyar</button>
        </div>
        <div class="col-xl-2 kutuKonuNameAdmin" style="margin: 1.6%;">
            <img src="/ödev2/pp4.jpg" class="rounded-circle" alt="anonim-pp" height="160" width="160" style="border-style: solid;">
            <p>İsmail Köybaşı</p>
            <button type="button" class="btn btn-danger" style="font-size:large;">Uyar</button>
        </div>
        <div class="col-xl-2 kutuKonuNameAdmin" style="margin: 1.6%;">
            <img src="/ödev2/pp1.jpg" class="rounded-circle" alt="anonim-pp" height="160" width="160" style="border-style: solid;">
            <p>Ahmet Sultan</p>
            <button type="button" class="btn btn-danger" style="font-size:large;">Uyar</button>
        </div>
        <div class="col-xl-2 kutuKonuNameAdmin" style="margin: 1.6%;">
            <img src="/ödev2/kullanıcı-pp.jpg" class="rounded-circle" alt="anonim-pp" height="160" width="160" style="border-style: solid;">
            <p>Ensar Zengin</p>
            <button type="button" class="btn btn-danger" style="font-size:large;">Uyar</button>
        </div>
        <div class="col-xl-2 kutuKonuNameAdmin" style="margin: 1.6%;">
            <img src="/ödev2/kullanıcı-pp.jpg" class="rounded-circle" alt="anonim-pp" height="160" width="160" style="border-style: solid;">
            <p>Anıl Aksakal</p>
            <button type="button" class="btn btn-danger" style="font-size:large;">Uyar</button>
        </div>
    </div>
</div>
